.idea
target/
*.iml

# npm and webpack related files folders from test-site folder
build/
.vscode/
node_modules/
typings/
npm-debug.log
build/stats-dev.json*
tmp/
dist/
.sw[a-z]
bundle.js
docker_build.sh
dataset-server.yaml